name: build
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        # Add every version you want to test here
        mc-version: [ "1.21.1", "1.21.5", "1.21.10"]
      fail-fast: false # Allows 1.21.1 to finish even if 1.21.5 fails

    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      # This is the "Magic" part. We use -P to override the variables
      # inside your gradle.properties file.
      - name: build
        run: ./gradlew build -Pminecraft_version=${{ matrix.mc-version }}

      # Captures the jar for each version separately
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Mod-JAR-${{ matrix.mc-version }}
          path: build/libs/*.jar